/* 入力フィールドの横幅を統一 */
.form-control, .form-select {
    width: 100%;
    vertical-align: middle;
}

/* ボタンのマージン調整 */
button {
    height: 100%; /* ボタンの縦位置をテキストボックスと揃える */
}
/* ラベルの右揃え */
.text-label {
    font-weight: bold;
    text-align: right;
    margin-right: 10px;
    font-size: x-large;
}


/* ラベルの右揃え */
.form-label {
    font-weight: bold;
    text-align: right;
    margin-right: 10px;
    font-size: large;
}
/* グレー readonly */
.readonly-input {
  background-color: #e9ecef; /* グレー背景色 */
  color: #6c757d; /* テキストの色 */
  cursor: not-allowed; /* ポインターの変更 */
}



/*1-dialog:ダイアログ*/
body.no-scroll {
    overflow-y: hidden;
}
.l-dialog {
    z-index: 50;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 4rem;
    display: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(27, 35, 42, 0.5);
}
.l-dialog__is-visible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.l-dialog__container {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 72rem;
    max-height: 100%;
    border-radius: 0.8rem;
    background-color:  #ffffff;
    -webkit-box-shadow: 0 0 0.6rem rgba(27, 35, 42, 0.16);
    box-shadow: 0 0 0.6rem  rgba(27, 35, 42, 8.16);
    /*ヘツダ*/
    /*フッタ*/
}
.l-dialog.is-360 .l-dialog_container {
   width: 36rem;
}
.l-dialog.is-720 .l-dialog_container {
    width: 72rem;
}
.l-dialog.is-960 .l-dialog_container {
        width: 96rem;
}
.l-dialog.is-variable .l-dialog_container {
            width: auto;
            max-width: 96rem;
}
/*／＊追加css＊／*/
.l-dialog.is-360-720.l-dialog_container {
    width: auto;
    min-width: 36rem;
    max-width: 72rem;
}
.l-dialog_container > header >h1 {
    max-width: calc(100% - 64px);
}

.process-data_header h3{
    max-width:856px;
}
.l-dialog_container > header {
    z-index: 50;
    position: sticky;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 5.5rem;
    padding: 0 2rem;
    border-bottom: 0.1rem solid #c7cacd;
    border-radius: 0.8rem 0.8rem 0 0;
    background-color: #ffffff;
}
.l-dialog_container > footer {
    position: sticky;
    bottom:0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /*-webkit-box-pack: stretch;*/
    /*-ms-flex-pack: stretch;*/
    justify-content: stretch;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    padding: 1.2rem 2rem;
    border-top: 0.1rem solid #c7cacd;
    background-color: #ffffff;
    border-radius: 0 0 0.8rem 0.8rem;
}
.l-dialog_title{
    font-size: 1.8rem;
    line-height: 1.2;
    text-align: center;
}
.l-dialog_back{
    position: absolute;
    left: 22px;
    top: 16px;
}
.l-dialog_back span {
    font-size: 2.4rem;
    color: #65778F;
}

.l-dialog_close{
    position: absolute;
    right: 0;
    width: auto;
    height:4.8rem;
    padding: 0 2rem;
    font-size: 3.2rem;
    border:0;
    background: none;
    color:#6e757a;
}
.l-dialog_close:hover {
    color: #4c5459;
}
.l-dialog_body {
    padding: 2.4rem;
    overflow-y: auto;
}
.l-dialog_body .note {
    font-size: 1.4rem;
}
.l-dialog_error {
    display: none;
    margin-top: 1.2rem;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    color:#ED5950;
}
.l-dialog_error.isActive {
    display: block;
}


/*  c-tab-1 */
.c-tab-1-wrapper {
    position: relative;
}
.c-tab-1-wrapper .filter-box {
    position: absolute;
    top: -12px;
    right: 0;
}
.c-tab-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.4rem;
    margin: 4rem -2.4rem 2rem;
    padding: 0 2.4rem;
    border-bottom: 0.1rem solid #c5d1de;
    /*タブボタン*/
}
.l-page-header + .c-tab-1, .c-title-1+.c-tab-1, .c-tab-1:first-child {
    margin-top: 0;
}
/*ダウンロード画面追加CSS*/
.page-download .c-tab-1,.c-title-1 +.c-tab-1,.c-tab-1:first-child {
    margin-top: 0;
}
.c-tab-1:last-child {
    margin-bottom: 0;
}
.c-tab-1 > li {
    position: relative;
}
.c-tab-1__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 5rem;
    line-height: 1.2;
    padding: 0 1.6rem;
    text-align: center;
    text-decoration: none;
    color: #4c5459;
    background-color: #ffffff;
    border: none;
    border-radius: 0.4rem 0.4rem 0 0;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
    position: relative;
}
.c-tab-1__item:hover {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.5);
}
.c-tab-1__item-is-selected {
    font-weight: bold;
}
.c-tab-1__item.is-selected::after {
    content: "";
    position: absolute;
    bottom: -0.2rem;
    right: 0;
    left: 0;
    width: 100%;
    height: 0.3rem;
    background:  #7384FF;
    border-radius: 10rem;
}
.c-tab-1.is-sm .c-tab-1_item {
    height: 4rem;
}



.c-tab-content {
    display: none;
}
.c-tab-content.is-selected {
    display: block;
}
.c-tab-1_item.is-selected {
    font-weight: bold;
    border-bottom: 2px solid #000;
}


.nav-tabs .nav-link {
    font-weight: bold;
}
.nav-tabs .nav-link.active {
    background-color: #007bff;
    color: white;
}
